.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.contentContainer > div{
    margin-bottom: 25px;
}
.contentContainer {
    width: 30%;
}
.headerContent > div {
    margin-bottom: 25px;
}
.headerOne {
    display: flex;
    align-items: center;
}
.headerOne > div {
    margin-left: 10px;
}
.headerTexts > div {
    margin-bottom: 15px;
}
.link {
    color: #00690B;
    text-decoration: underline;
}
.logo {
    display: block;
}
.verify {
    display: none;
}
@media screen and (max-width: 600px) {
    .contentContainer {
        width: 90%;
    }
    .logo {
    display: none;
    }
    .verify {
        display: block;
    }
}