.contentContainer {
    display: flex;
    align-items: center;
}
.contentContainer p {
    padding-left: 7px;
}
.sectionContainer {
    display: flex;
    justify-content: center;
}
.footerIcons {
    display: flex;
    justify-content: center;
}
.Container {
    background-color: #FCFCFC;
    padding: 30px 0px 30px 0px;
}