.sectionContainer {
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: space-between;
}
.content {
    display: flex;
    align-items: center;
    color: #00690B;
    text-decoration: underline;
}
.content p {
    padding-right: 5px;
}
.sectionTextContent {
    width: 40%;
}
.headerContent {
    display: flex;
    align-items: center;
}
.headerContent h4 {
    font-weight: bolder;
    padding: 20px;
}
.styler{
    display: flex;
    flex-direction: row-reverse;
}
.parentImage {
    position: relative;
    padding-bottom: 30px;
    padding-right: 20px;
}
.pImage {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
    }
    .sectionTextContent {
        width: 100%;
    }
    .smHide {
        display:none;
    }
    .parentImage {
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .headerContent h4 {
        padding: 1px;
    }
}