.sectionContainer {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sectionCenter {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    align-items: center;
}
.sectionCenter h4 {
    color: #00690B;
    text-transform: uppercase;
    font-weight: normal;
    font-size: medium;
}
.sectionCenter h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: xx-large;
}
.sectionContent {
    color: rgb(56, 56, 56);
}
.sectionBtns {
    display: flex;
    margin-top: 10px;
}
.btn {
    padding: 15px;
}
.btnElements {
    display: flex;
    align-items: center;
}
.iconBtn {
    padding-left: 5px;
}