.inpFilterContainer {
    position: relative;
}
.filterIcon {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
}
.inpFilterContainer input {
    width: 100px;
    height: 30px;
    font-size: large;
    margin-left:10px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 2px;
}
.inpFilterContainer ::placeholder {
    padding-left: 10px;
}
.paginationContainer {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.paginationContainer ul {
    display: flex;
    list-style-type: none;
}
.paginationContainer li {
    font-size: 14px;
    padding: 5px;
    align-items: center;
    text-align: center;
    display: flex;
}
.paginationContainer li:hover {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.paginationContainer li a:hover {
    color: white;
}
.paginationContainer ul li a {
    color: gray;
}