.groupBtns {
    display: flex;
}
@media screen and (max-width: 600px) {
    .groupBtns {
        display: flex;
        flex-direction: column;
    }
    .groupBtnsContainer {
        display: flex;
        justify-content: center
    }
}