.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.closeBtn {
    cursor: pointer;
}
.modalContents {
    margin: 15px 0px 10px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.progressBarPosition {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px 0px
}

.os {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.dSelectStyle {
    display: flex;
    flex-direction: column
}
.mNavBtns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px 0px
}