
.os {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.pageText {
    margin: 25px 0px 25px 0px
}
.mNavBtns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px 0px
}