.container {
    background-color: #00690B;
    padding: 20px;
}
.formContainer {
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
}
.header {
    display: flex;
    padding: 15px 0px 15px 0px;
    align-items: center;
    position: relative;
}
.backIcon {
    padding-left: 2%;
}
.logo{
    position: absolute;
    left: 30%;
}