.container {
    display: flex;
    height: 100vh
}
.mcontainer {
    display: none;
}
@media screen and (max-width: 600px) {
    .container {
        display: none;
    }
    .mcontainer {
        display: block;
    }
}