.container {
    color: #00690B;
    margin-top: 20px;
}
.textStyle {
    text-align: center;
}
.iconsPStyles {
    display: flex;
    justify-content: center;
}
.widthContainer {
    width: 80%;
    margin-top: 15px;
}
.iconsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}
.icons {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.icons > div {
    margin-left: 10px;
}