.modalContents {
    margin: 15px 0px 10px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.progressBarPosition {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px 0px
}

.pageText {
    margin: 25px 0px 25px 0px
}

.dSelectStyle {
    display: flex;
    flex-direction: column
}