.container {
    width: 60%;
}
.containerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contentWrapper {
    width: 80%;
}
.headerContent > div {
    margin-bottom: 25px;
}
.headerTexts > div{
    margin-bottom: 5px;
}
.headerOne {
    display: flex;
    align-items: center;
}
.headerOne > div {
    margin-left: 10px;
}
.formContainer > div {
    margin-bottom: 25px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .container {
        background-color: #00690B;
        border-radius: 5px;
        width: 100%;
        color: white;
        margin: 20px 0px 20px 0px
    }
    .containerContent {
        height: 50vh;
    }
}