.containerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contentWrapper {
    width: 80%;
}
.headerContent {
   margin: 5px 0px 5px 0px;
}
.headerOne {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.headerOne > div {
    margin-left: 10px;
}
.formContainer > div {
    margin-bottom: 20px;
}
.reqs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info {
    margin-left: 10px;
    font-size: 14px;
}
.checkImg {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 600px) {
    .containerContent {
        height: 70vh;
    }
}
