.hInfo {
    width: 55%;
}
.side {
    margin-bottom: 25px
}
.container {
    display: flex;
}
.rightSide {
    display: flex;
    width: 70%;
}
.leftSide {
    display: flex;
    width: 20%;
    margin-left: 25px;
}

@media screen and (max-width: 600px) {
    .container {
        display: block
    }
    .hInfo {
        width: 100%
    }
    .rightSide {
        width: 100%
    }
    .leftSide {
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
    }
}