.container {
    width: 60%;
}
.containerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.headerContent > div {
    margin-bottom: 25px;
}
.headerTexts > div{
    margin-bottom: 5px;
}
.headerOne {
    display: flex;
    align-items: center;
}
.headerOne > div {
    margin-left: 10px;
}
.formContainer > div {
    margin-bottom: 10px;
}
.fpswd {
    float: right;
    margin-top: 20px;
}
