.text {
    font-weight: 500;
    font-family: DM sans;
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
}
.btnColor {
    background-color: #EEEEEE;
    color: black;
    border: 1px solid #EEEEEE;
}
.btnColor:hover{
    background-color: black;
    color: white;
}