.sectionContainer {
    display: flex;
    justify-content: center;
    background-color:  #FCFCFC;
    padding-bottom: 30px;
}
.sectionContainer p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.boxContainer {
    display: flex;
    flex-direction: row;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
