.sectionContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs {
    padding: 8px 0px 8px 45px;
    width: 100%;
    background-color: #EEEEEE;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.headerImage {
    height: 10px;
}
.inputField {
    display: flex;
    align-items: center;
}
.inputField p {
    margin: 5px 0px 5px 0px;
}
.checkBox {
    padding: 9px 9px 9px 0px;
}
.sectionHeader {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.inputSection {
    margin: 10px 0px 10px 0px;
}
.label {
    margin-bottom: 10px;
}
.sectionHeader p {
    padding-right: 15px;
    font-weight: bold;
}
.checkBoxSection {
    margin: 10px 0px 20px 0px;
}
.textFieldContent {
    position: relative;
    display: flex;
    align-items: center;
}
.placeholderImg { 
    position: absolute;
    bottom: 0px;
    padding: 0px 6px 0px 6px;
    margin: 1px;
    border-right: 1px solid gray;
}
@media screen and (max-width: 800px) {
    .backIconBtn {
        display: none;
    }
    .sectionContainer {
        width: 90%;
        align-items: flex-start;
        padding-top: 40px;
    }
    .inputSection {
    margin: 20px 0px 20px 0px;
}
    .sectionHeader {
        display: flex;
        justify-content: center;
    }
    .textFieldContent {
        margin: 20px 0px 20px 0px;
    }
}