html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sectionContainer {
    display: flex;
    margin: 50px 0px 50px 0px;
}
.headerContent {
    display: flex;
    align-items: center;
}
.headerContent h4 {
    font-weight: bolder;
    padding: 20px;
}
.sectionTextContent span {
    color: #00690B;
    text-decoration: underline;
}
.styler:nth-child(odd) {
    background-color: red;
    color: blue;
}
